*.xml
*.xml
*.iml
*.xml
*.xml
*.iml
*.iml
*.xml
*.iml
.idea/misc.xml
.idea/Ict4heath.iml
.idea/Ict4heath.iml
.idea/misc.xml
lab2/__pycache__/myMorphology.cpython-36.pyc
lab2/__pycache__/myMorphology.cpython-36.pyc
